{
  "extends": "google",
  "parser":"babel-eslint",
  "plugins":["babel", "chai-expect", "react"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "generator-star-spacing": 0,
    "semi": ["error", "never"],
    "prefer-rest-params": "off",
    "object-curly-spacing": ["error", "always", { "objectsInObjects": false }],
    "no-unused-vars": "off",
    "max-len": "off",
    "no-undef": "off",
    "padded-blocks": "off",
    "operator-linebreak": "off",
    "quotes": ["error", "single"],
    "arrow-parens": ["error", "as-needed"],
    "chai-expect/missing-assertion": 2,
    "chai-expect/terminating-properties": 1,
    "no-var": "off",
    "indent": ["error", 2, { "SwitchCase":1 }],
    "space-infix-ops": ["error", {"int32Hint": false}],
    "arrow-spacing": ["error", {"before": true}],
    "no-multiple-empty-lines": ["error", {"max": 1}],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "comma-dangle": ["error", "never"],
    "react/jsx-curly-spacing": ["error", {"when": "always", "children": true}],
    "react/jsx-indent": ["error", 2],
    "linebreak-style": ["off"],
    "require-jsdoc":["off"],
    "no-invalid-this":"off",
    "no-whitespace-before-property":["error"]
  }
}
